#@legolas82bis:registry=https://npm.pkg.github.com/legolas82bis
#@myscope:registry=https://legolas82bis.registry.com/artifactory
#npm.pkg.github.com/:_authToken=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
#_auth=Basic bGVnb2xhczgyYmlzOm5wbV9URG14dHNuTEpOQzhVV0tXQlN3dkx5Q0NESG5YZ0wybDNLY3I=
#always-auth=true
#email=marcoalbano@gmail.com